name: Push DB Schema

on:
  push:
    branches:
      - main
    paths:
      - 'server/src/server/db/schema.ts'
  workflow_dispatch:

jobs:
  db-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        working-directory: server
        run: bun install

      - name: Push DB changes
        working-directory: server
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: bun run db:push --strict
